.header
    width: 100%
    text-align: center
    .name
        font-size: 2.5rem
        margin: 0.5rem
        color: blue
        font-family: "Edu NSW ACT Cursive", cursive;
    .tittle
        font-size: 1.5rem
        margin: 0.5rem
    .data
        display: grid
        grid-template-columns: repeat(2, 1fr)
        justify-content: center
        align-items: center
        justify-items: center
        margin: 0.5rem
        .data-basic
            display: grid
            font-size: 1rem
            margin: 0.5rem
            padding: 0.5rem
            grid-template-columns: 1fr 3fr
            .data-basic-icon
                color: blue
                font-size: 1.2rem
                margin: 2px
                padding: 2px
            .data-basic-text
                color: black
                font-size: 1rem
                margin: 2px
                padding: 2px
        .data-foto
            margin: 0.5rem
            width: 150px
            height: 150px
            border-radius: 50%
            border: 2px solid blue
            .img
                width: 100%
                height: 100%
                border-radius: 50%
                object-fit: cover
    .networking
        margin: 0.5rem
        font-size: 0.8rem
        display: grid
        justify-items: start;
        justify-content: start;
        align-items: center;
        grid-template-rows: repeat(3, 1fr)
        .networking-space
            display: grid;
            grid-template-columns: 70px 4fr
            justify-items: start;
            .networking-space-link
                text-decoration: none
                justify-items: start;
                color: blue
                font-weight: bold
            .networking-space-data
                color: black;
    .line
        margin: 1rem
        border: 1px solid blue
        width: 100%
        margin-left: auto
        margin-right: auto